@keyframes markerEntrance {
    from {
        /* opacity: 0; */
        transform: scale(0.1) translateY(4px);
    }
    to {
        /* opacity: 1; */
        transform: scale(1) translateY(0);
    }
}

.animatedMarker {
    animation: markerEntrance 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}